html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background-color: white;
  padding-top: 50px;
}

nav {
    background-color: white;
    box-shadow: 0px 0px 5px #DDDDDD;
}

footer {
  padding: 10px;
  position: absolute;
  width: 100%;
  font-size: 16px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #DDDDDD;
}

.navbar a {
  color: black;
  font-size: 16px;
}

.nav-item{
    height: 40px;
    margin-right: 20px;
}

.navbar-brand{
    margin-left: 20px;
}

.navbar button {
  border: none;
  outline: none;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
}

.animated-icon span {
  background: #000000;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
  top: 10px;
}

.animated-icon span:nth-child(4) {
  top: 20px;
}

section {
  padding: 0px 50px 0px 50px;
  margin: auto;
  position: relative;
}

section h1 {
    font-size: 40px;
    font-weight: 600;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

section h2 {
    font-size: 30px;
    font-weight: 400;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.about {
    padding: 50px 0px 20px 0px;
}

.about::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
    border-bottom: 1px solid;
}

.about-header {
    font-size: 60px;
    padding: 0px 0px 20px 0px;
}

.about-img {
    width: 80%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-header .letter {
  display: inline-block;
  line-height: 1em;
}

.about-header::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
    border-bottom: 1px solid;
}

.education {
    padding: 20px 0px 0px 0px;
    text-align: left;
}

.education-img {
    width: 60%;
    display: block;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.university {
    font-size: 24px;
}

.education-body {
    text-align: left;
}

.education::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
    border-bottom: 1px solid;
}

section bold-subheader {
    font-weight: 600;
}

ul {
    padding-left: 25px;
}

li {
    margin-bottom: 10px;
}

.experience {
    padding: 20px 0px 0px 0px;
    text-align: left;
}

.experience-img {
    width: 50%;
    display: block;
    top: 0px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.experience::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid;
}

.skills {
    padding: 20px 0px 0px 0px;
    text-align: center;
}

.skills ul {
    list-style-type: none;
}

.skills::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
    border-bottom: 1px solid;
}

.contact {
    padding: 20px 0px 0px 0px;
    text-align: center;
}

canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -50;
    top: 0;
    left: 0
}

@media (min-width: 0px) {
    .container{
        max-width: 95%;
    };
}

@media (min-width: 0px) {
    body {
        font-size: 16px
    }

    section h1 {
        font-size: 32px
    }

    section h2 {
        font-size: 24px
    }

    footer {
        font-size: 12px;
        padding: 2px
    }

    .about-header {
        font-size: 48px
    }

    .education {
        text-align: center
    }

    .university {
        font-size: 20px
    }

    .education-body {
        text-align: left;
        padding-left: 20px
    }

    .experience .container .row .col-sm-4 {
        text-align: center
    }
}

@media (min-width: 768px) {
    body {
        font-size: 20px
    }

    section h1 {
        font-size: 40px
    }

    section h2 {
        font-size: 30px
    }

    footer {
        font-size: 16px;
        padding: 10px
    }

    .about-header {
        font-size: 60px
    }

    .education {
        text-align: left
    }

    .university {
        font-size: 24px
    }

    .education-body {
        padding-left: 0px
    }

    .experience .container .row .col-sm-4 {
        text-align: left
    }
}